

:local(.header) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #27A3BA;
    width: 100%;
    height: inherit;
    max-height: 10rem;

    color: white;

    :local(.title) {
        color: yellow;
    }

}


:local(.section) {
    display: flex;
    justify-content: center;
    &.f_max {
        width: 70%;
    }

    &.f_min {
        width: 15%;
    }

}


:local(.compose_button) {
    height: 3rem;
    width: 10rem;
    border-radius: 0.4rem;
    border: 1px solid white;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

:local(.search_input) {
    border: 0;
    height: 2rem;
    width: 14rem;
    border-radius: 0.4rem;
    background-color: #2393AA;
    padding: 0.2rem 1rem 0.2rem 1rem;

    &:focus {
        outline: none;
    }
}


:local(.menu_list) {

    list-style-type: none;
    width: 100%;
    margin-right: 1rem;
    text-align: right;

    :local(.menu_list_item) {
        display: inline-block;
        padding: 1rem;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}

