
$font-size: 14px;
$line-height: 1.4;
$lines-to-show: 3;

@mixin ellipsis($max-width, $linecount) {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: $max-width;
    height: $font-size * $line-height * $linecount; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $linecount;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

:local(.container) {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    :local(.infinite_loader) {
        color: #636363;
        text-align: center;
        font-weight: bold;
        background-color: white;
        padding: 1rem 0 1rem 0;
    }
}

:local(.card) {
    width: 100%;
    height: 128px;
    background-color: white;
    color: #878D91;
    margin-bottom: 0.1rem;

    border-right: 0.5rem solid transparent;

    cursor: pointer;

    &:hover {
        background-color: rgba(39, 163, 186, 0.08);
    }

    &:local(.read) {
        background-color: rgba(255,255,255,0.42);
    }

    &:local(.selected) {
        border-color: #27A3BA;
    }

    display: flex;

    :local(.selector) {
        padding: 1rem 0.3rem 0 0.5rem;
    }

    :local(.summary) {
        padding: 1rem;
        text-align: center;
    }

    :local(.content) {
        padding: 1rem;

        :local(.meta) {
            width: 100%;
            height: 50%;
            display: inline-block;

            :local(.meta_row) {
                display: block;

                :local(.meta_sender) {
                    @include ellipsis(50%, 1);
                }

                :local(.meta_sender), :local(.meta_date) {
                    display: inline-block;
                    font-weight: bold;
                    color: #636363;
                }

                :local(.meta_date) {
                    float: right;
                    font-size: 0.8rem;
                }

                :local(.meta_subject) {
                    @include ellipsis(100%, 1);
                    font-weight: bold;
                }

                :local(.meta_date), :local(.meta_subject) {
                    color: #878D91;
                }
            }
        }

        :local(.message) {
            @include ellipsis(100%, 2);
            width: 100%;
        }
    }
}


:local(.message) {
    width: 100%;
    max-height: 50%;
}
