@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?agn1li');
    src:    url('fonts/icomoon.eot?agn1li#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?agn1li') format('truetype'),
        url('fonts/icomoon.woff?agn1li') format('woff'),
        url('fonts/icomoon.svg?agn1li#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tmicon-"], [class*=" tmicon-"], :local(.tmicon) {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:local(.icon-drawer2):before {
        content: "\e900";
    }
    &:local(.icon-download):before {
        content: "\e901";
    }
    &:local(.icon-upload):before {
        content: "\e902";
    }
    &:local(.icon-undo):before {
        content: "\e903";
    }
    &:local(.icon-redo):before {
        content: "\e904";
    }
    &:local(.icon-undo2):before {
        content: "\e905";
    }
    &:local(.icon-redo2):before {
        content: "\e906";
    }
    &:local(.icon-forward):before {
        content: "\e907";
    }
    &:local(.icon-reply):before {
        content: "\e908";
    }
    &:local(.icon-cog):before {
        content: "\e909";
    }
    &:local(.icon-switch):before {
        content: "\e90a";
    }
    &:local(.icon-attachment):before {
        content: "\e90b";
    }
    &:local(.icon-heart):before {
        content: "\e90c";
    }
    &:local(.icon-loop2):before {
        content: "\e90d";
    }
    &:local(.icon-circle-up):before {
        content: "\e90e";
    }
    &:local(.icon-circle-right):before {
        content: "\e90f";
    }
    &:local(.icon-circle-down):before {
        content: "\e910";
    }
    &:local(.icon-circle-left):before {
        content: "\e911";
    }

    &:local(.icon-forward3):before {
        content: "\e912";
    }
}

$labelcolors: pink green red yellow

:local(.label) {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    @each $color in $labelcolors {
        &:local(.label-#{$color}) {
            background-color: #{$color};
        }
    }

}
