html, body {
    font: 100% Avenir-Book, Avenir-Medium, ProximaNova-Light, ProximaNova-Regular, ProximaNova-Semibold;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #E5E6E8;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
}

.root {
    height: 100%;
}

:local(.container) {
    height: 100%;
}

:local(.header) {
    height: 120px;
}

:local(.navbar) {
    width: 15%;
    height: 100%;
    float: left;
    display: inline-block;
}

:local(.thumbnailBar) {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
}

:local(.readingPane) {
    height: 100%;
    width: 65%;
    display: inline-block;
}
