:local(.container) {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

:local(.message_container) {
    min-height: 200px;
    width: 100%;
    background-color: white;
    padding: 1rem;
}


:local(.message) {
    margin: 1rem;
    line-height: 1.4rem;
    color: #595E61;
}

:local(.summary) {
    display: flex;
    border-bottom: 1px solid #E5E6E8;

    :local(.avatar), :local(.details) {
        padding: 0.5rem;
    }

    :local(.avatar) {
        flex-grow: 0;
        text-align: center;
        img {
            border: 1px solid white;
            border-radius: 25px;
        }
    }


    :local(.details) {
        flex-grow: 10;
        margin-top: 0.2rem;
        :local(.row) {
            width: 100%;
            color: #636363;

            :local(.label), :local(.sender_name), :local(.sender_email), :local(.meta) {
                display: inline-block;
                max-width: 50%;
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            :local(.sender_name) {
                font-weight: bold;
            }

            :local(.label_icon) {
                display: inline-block;
                height: 10px;
                width: 10px;
                margin-right: 0.2rem;
                border-radius: 25px;

                &.pink {
                    background-color: pink;
                }
            }

            :local(.label), :local(.meta) {
                text-align: right;
                font-size: small;
            }
        }
    }
}
