
$base-color: #384349;

:local(.navbar) {
    height: 100%;
    width: 100%;

    color: #878D91;
    background-color: $base-color;
    border-top: 1px solid $base-color;

    display: flex;
    flex-direction: column;
}


:local(.section) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-bottom: 1px solid #53646D;


    :local(.section_inbox) {
    }

    :local(.section_folders) {
        min-height: 10rem;
        max-height: 20rem;
        overflow-y: scroll;
        :local(.section_menuitem) {
            padding-top: 0.3rem;
            height: 3rem;
        }
    }


    :local(.section_favorites) {
    }

    :local(.section_labels) {
        max-height: 100%;
        overflow-y: scroll;
        :local(.section_menuitem) {
            padding-top: 0.3rem;
            height: 3rem;
        }
    }
}



:local(.section_menuitem) {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-color: red;

    &:local(.menuitem__selected) {
        background-color: #313C42;
        color: white;
    }


    &:hover {
        background-color: #27A3BA;
        color: white;
    }

    :local(.section_menuitem__icon) {
        width: 20%;
        text-align: right;
        line-height: 40px;
        color: white;
    }

    :local(.section_menuitem__label) {
        width: 60%;
        line-height: 40px;
        vertical-align: middle;
        margin-left: 1rem;
        text-align: left;
    }

    :local(.section_menuitem__meta) {
        width: 20%;
        text-align: center;

        :local(.section_menuitem__meta__unread) {
            display: inline-block;
            border-bottom: 1px solid transparent;
            padding: 0.7rem;
            border-radius: 7rem;
            text-align: center;
        }
    }
}


:local(.section_menuitem_label_color) {

    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 1rem;

    &.pink {
        background-color: pink;
    }

    &.green {
        background-color: green;
    }

    &.yellow {
        background-color: yellow;
    }
}

